<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>263207982099-ebq1se2ccdr02ruipklubvo7rre3ir57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263207982099-ebq1se2ccdr02ruipklubvo7rre3ir57</string>
	<key>API_KEY</key>
	<string>AIzaSyDbjvDrQERBjIv9UZ1W8J_RUmoCilLhlpY</string>
	<key>GCM_SENDER_ID</key>
	<string>263207982099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lozb.Instogrom</string>
	<key>PROJECT_ID</key>
	<string>instogrom-c4c20</string>
	<key>STORAGE_BUCKET</key>
	<string>instogrom-c4c20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:263207982099:ios:501ab8dad2e5bbde</string>
	<key>DATABASE_URL</key>
	<string>https://instogrom-c4c20.firebaseio.com</string>
</dict>
</plist>